
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body {
    background: linear-gradient(#10a4a2,#c111e4  )
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
    color: #fff;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}